﻿

body.allstar_fg
{
	font-family: 'Hind', sans-serif;
	margin: 0;
	padding:0;
	font-size: 18px;
	color:#343434;
}
.allstar_fg .section .row p, .allstar_fg .section.hero p, .allstar_fg section p {
    margin-bottom: 2.5rem !important;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p
{
	text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
  	margin-top: 0;
  	margin-bottom: 2rem;
  	font-weight: 700; }
h4 { font-size: 2.7rem; line-height: 1.35; letter-spacing: -.08rem; color:#bf2337; text-transform:uppercase; font-weight:900; border-bottom: #b8d1db 1px solid; }
h5 { font-size: 1.9rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: .7rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: .5rem; }
h1, h2
{
	font-family: 'PT Sans Narrow', sans-serif;	
	text-transform:uppercase;
}

.well
{
	font-size: .9em;	
}




/* Sticky Header Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*-------- Navbar  START --------*/
.main
{
	padding-top:132px;
}
header
{
  	position: fixed;
  	z-index:99;
  	width: 100%;
 	height: 132pxs;
  	background-color:#fff;
  	border-bottom: 1px solid #a1a1a1;
  	transition: all 0.4s ease;
}
header.sticky, header.perma_sticky {
  background-color:#fff;
  border-bottom: 1px solid #a1a1a1;
 }
 header.sticky .navbar, header.perma_sticky .navbar
 {
	padding-top:0; 
	margin-bottom: 0!important;
	
 }
.navbar + .docs-section 
{
	border-top-width: 0; 
}
.navbar 
{
	display: block;
	width: 100%;
	z-index: 99;
	padding-top: 15px;
	transition: all 0.4s ease;
}
.navbar-spacer 
{
	display: none; 
}
.navbar > .container 
{
	width: 100%; 
}
.navbar .col-sm-12
{
	padding:0;
	margin:0;
}
.navbar .col-xs-12
{
	padding:0;
	margin:0;
}
.navbar-list 
{
	list-style: none;
	margin: 0; 
	padding:0;
	float:right;
	width:100%;
}
.navbar-list.menu 
{
	display:none;
}
.navbar-list.menu 
{
	display:none;
}
.navbar-item 
{
	width:100%;
	position: relative;
	float: left;
	margin-bottom: 0; 
}
.navbar-link 
{
	font-size: 2rem;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	padding: 1em 0;
	color: #003e63;
	width:100%;
	display:block;
	margin-bottom: 2rem;
}
.navbar-link.active 
{
	color: #33C3F0; 
}
.navbar-link:hover 
{
	background-color: #33C3F0; 
}
.has-docked-nav .navbar 
{
	position: fixed;
	top: 0;
	left: 0; 
}
.has-docked-nav .navbar-spacer 
{
	display: block; 
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container 
{
	width: 100%; 
}
#showmenu
{
	width: 25%;	
	float: right;
	text-align:right;
}
#showmenu img
{
	width:100%;
	max-width:60px;
	float:right;
}
.logo-wrapper img.img-responsive
{
    padding: .8em 0 0 0;
	/*padding:1em 0;*/
	min-width: 180px;

}

/*-------- Navbar  END --------*/


/* Hero Story
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section
{
	min-height:100px;
	padding:15rem 0;
}
.section p
{
	color: #343434;
	text-shadow: none;
}

/* Hero Story - HOME/Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.home
{
	margin-top:-132px;
	padding-top:132px;
	max-height:650px;
    background-size:cover;
    background-color: #d6ddef;
	background-position:bottom;
	/*background-image:url(../images/home_hero_bg.jpg);*/
	background-image:url(../images/business_bg.jpg);
	padding:11rem 0;
	transition: all 0.4s ease;
}
.section.home .container
{
	margin-top:50%;
	padding-top:1em;
	background-color:rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease;
}
.section.home h1
{
	font-family: 'PT Sans', sans-serif;
	text-align:center;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
	transition: all 0.4s ease;
}
.section.home p
{
	margin-top:2rem;
	text-align:center;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
}
.floating
{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}    
}

/*-------- HOME hero  END --------*/


/* Mission Story - HOME/Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.mission
{
	    padding: 10rem 0;	
}
.section.mission h2
{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	
}
/*-------- HOME hero  END --------*/

/* Hero Story - Success
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.chart
{
	padding:8rem 0;
	
}
.section.chart h1
{
	margin-top:2rem;	
}
.section.success
{
	margin-top:-132px;
	padding-top:132px;
	max-height:430px;
    background-size:cover;
    background-color: #d6ddef;
	background-position:center;
	background-image:url(../images/success_hero_bg.jpg);
	padding:11rem 0;
	transition: all 0.4s ease;
}
.section.success .container
{
	margin-top:10%;
	padding-top:1em;
	background-color:rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease;
}
.section.success h1
{
	
	text-align:center;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
	transition: all 0.4s ease;
}
.section.success p
{
	margin-top:2rem;
	text-align:center;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
}

/*-------- HOME Success hero  END --------*/


.section.icons, .section.grey
{
	background-color: #ccc;	
	min-height: auto;
	min-height:100px;
	padding:5rem 0;
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
  	position: relative;
  	float: left;
  	padding-bottom: 100%;
  	width: 100%;
  	text-align: center;
}
.card:nth-child(1) 
{
  	margin-left: -3px;
  	margin-right: 1px;
}
.card:nth-child(2),
.card:nth-child(3) 
{
  	margin-right: 1px;
}
/* card fronts and backs */
.card__front,
.card__back 
{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 95%;
  	height: 95%;
}
.card__front,
.card__back 
{
  	-webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  	-webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
		  cursor:pointer;
}
.card__front 
{
  	background-color: #ffffff;
  	/*border-radius: 50%;*/
  	border:10px solid #fff;
}
.card__back 
{
  	background-color: #cccccc;
  	/*border-radius: 50%;*/
  	border:10px solid #fff;
  	-webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
/* card text */
.card__front img 
{
	width:25%;
	margin-top:30%;
}
.card__text 
{
  	display: inline-block;
  	width:100%;
  	text-align:center;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
  	height: 20px;
  	font-size:3rem;
  	color: #343434;
  	font-family: 'PT Sans Narrow', sans-serif;
  	line-height: 20px;
}
.card__back .card__text 
{
	width:70%;
	position: absolute;
	height:70%;
	font-family: 'Hind', sans-serif;
	font-size:1.8rem;
	line-height: 2.2rem;
}
.icon_wrap
{
	width:100%;
	height: 70%;
	min-height:40px;
	vertical-align:top;
	padding-top: 5%;
}
/* hover effect */
.card.effect__hover:hover .card__front 
{
  	-webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card.effect__hover:hover .card__back 
{
  	-webkit-transform: rotateY(0);
          transform: rotateY(0);
}




.section.companies
{
	color:#fff;
	background-color:#003e63;
	text-align:center;	
	padding:5rem 0 2rem 0;
	padding-bottom:0;
	border-bottom:#177dba 10px solid;
}
.section.nonins_companies
{
	color:#fff;
	background-color:#003e63;
	text-align:center;	
	min-height:inherit;
    padding: 1.8rem 0;
	border-top: #177dba solid 10px;	
}
.section.companies h2
{
	text-align:center;	
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:3.6rem;
	font-weight: 400;
	border-bottom: #fff 1px solid;
    padding-bottom: .2em;
}
.section.graphic
{
	text-align:center;
	background-size:cover;
    background-color: #d6ddef;
	background-position:center;
	background-image:url(../images/city_bg.jpg);
}
.c-tabs-nav 
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.c-tabs-nav div
{
	padding-bottom:18px;	
}
.c-tabs-nav__link 
{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 4px;
	padding: 12px;
	-webkit-transition: color .3s;
	transition: color .3s;
	cursor:pointer;
	font-family: 'PT Sans Narrow', sans-serif;	
	font-size: .9em;
	opacity:.6;
	padding-bottom:25px;
	transition: all .5s ease;
}
.c-tabs-nav__link:last-child 
{
	margin-right: 0;
	border-radius: 8px;
	/*background-color:#00507f;
	text-shadow: 2px 2px #003e63;
	transition: all 1s ease;*/
}
.c-tabs-nav__link:hover 
{
	color: #ffffff;
	opacity:1;
	/*text-shadow: 2px 2px #001f32;
	background-color:#0067a4;*/
}
.c-tabs-nav__link.is-active 
{
	color: #ffffff;
	opacity:1;
	position: relative;
}
/*.c-tabs-nav__link.is-active:after 
{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 62, 99, 0);
	border-top-color: #003e63;
	border-width: 20px;
	margin-left: -20px;
}*/

/*.c-tabs-nav__link.is-active:after 
{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 62, 99, 0);
	border-top-color: #003e63;
	border-width: 20px;
	margin-left: -20px;
}*/
.c-tabs-nav__link.is-active:after 
{
	
	bottom: 0 !important;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 62, 99, 0);
    border-bottom-color: #177dba !important;
    border-width: 20px;
    margin-left: -20px;
}
#bottom.c-tabs-nav__link.is-active:after {
	bottom: 60% !important;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 62, 99, 0);
	border-top-color: #177dba !important;
	border-bottom-color: transparent !important;
	border-width: 20px;
	margin-left: -20px;

}
/*#bottom.c-tabs-nav__link.is-active:after {
	bottom: 100% !important;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 62, 99, 0);
	border-bottom-color: #003e63 !important;
	border-width: 20px;
	margin-left: -20px;
	top:inherit;
}*/
.c-tabs-nav__link i, .c-tabs-nav__link span 
{
	margin: 0;
	padding: 0;
	line-height: 1;
}
.c-tabs-nav__link i 
{
	font-size: 1em;
}
.c-tabs-nav__link span 
{
	display: none;
	
	font-size: 1rem;
}
.logos
{
	display:block;
	border:0;
	margin:0 auto;
	margin-bottom:3rem;
}
.section.as_insurance
{
	padding:5rem 0 1.5rem 0;
}

footer
{
	background-color:#1a3764;	
}
footer.section.footer
{
	padding:0;
	min-height:50px;	
	color:#ffffff;
}
footer.section.footer p, footer.section.footer a
{	
	color:#ffffff;
	font-family: 'Hind', sans-serif;
	font-weight:100;
	font-size: 1.3rem;
	text-align: left;
}
.row.footer_text
{
	margin: 10rem 0 5.5rem 0;
}
.row.allstar_logo
{
	background: #000000;
}
.row.allstar_logo img
{
	margin: 1rem 0;
}	
.hideme
{
    opacity:0;
	position:relative;
	top: 100px;
}

/* Hero Story - About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.about
{
	margin-top:-132px;
	padding-top:132px;
	max-height:450px;
    background-size:cover;
    background-color: #d6ddef;
	background-position:bottom;
	background-image:url(../images/about_hero_bg.jpg);
	padding:11rem 0;
	transition: all 0.4s ease;
}
.section.about .container
{
	margin-top:20%;
	padding-top:1em;
	background-color:rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease;
}
.section.about h1
{
	font-family: 'PT Sans', sans-serif;
	text-align:center;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
	transition: all 0.4s ease;
}
.section.about p
{
	margin-top:2rem;
	text-align:center;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
}
.btn.btn-about
{
	border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 5rem .8rem 5rem;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.23);
}
/*-------- ABOUT hero  END --------*/


/* Hero Story - News
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.about.news
{
	background-image:url(../images/news_hero_bg.jpg);
}
h2.post-title
{
	text-align:center;
	text-transform:uppercase;
}
.post-story
{
	margin-top: 30px;
    margin-bottom: 10px;
}
.post-story p
{
	text-align:justify;
}
.post-story p.post-date
{
	text-align:center;
	font-size:.9em;
	font-style:italic;
}
#News
{
	padding:8rem 0 10rem 0;
}



/* Hero Story - Foundation/About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.foundation
{
	/*margin-top:-132px;
	padding-top:132px;*/
	max-height:600px;
    background-size:cover;
    background-color: #d6ddef;
	background-position:bottom;
	background-image:url(../images/foundation_bg.jpg);
	padding:5em 0;
	transition: all 0.4s ease;
}
.section.foundation .container .foundationWrap
{
	padding-top:1em;
	background-color:rgba(255, 255, 255, 0.8);
	transition: all 0.4s ease;
	-webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.75);
}
.section.foundation h2
{
	font-weight: 400;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align:center;
	transition: all 0.4s ease;
}
.section.foundation p
{
	margin-top:1.5rem;
	padding: 0 1.3rem;
}
.section.foundation img
{
	width: 40%;
	margin: 0 auto;
	display:block;
}

.section.directory{
	margin-top:-132px;
	padding-top:92px;
	/*padding-top:182px;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#deebef+0,feffff+100 */
	background: #deebef; /* Old browsers */
	background: -moz-linear-gradient(top,  #deebef 0%, #feffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #deebef 0%,#feffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #deebef 0%,#feffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deebef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}
.btn-location-group a
{
	font-size:.9em;
	text-transform:uppercase;
	margin-bottom:1em;
	padding-top:1em;
}
/* END  Hero Story - Foundation/About
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.section.foundation.ach-entertainment
{
	background-image:url(../images/ach_bg.png);
	max-height:none;
}
.section.foundation.ach-entertainment .container .foundationWrap { 
    background-color: rgba(255, 255, 255, 0.9);
	margin-bottom:2.5em;
}
.section.foundation.ach-entertainment img
{
	width: 100%;	
}
.section.foundation.ach-entertainment.grey-override
{
	background-image:none;
	background-color: #ccc;
}

/* START  OFFICE LOCATIONS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.offices
{
	padding:0;
	
}
.section.offices .row
{
	background-color:#666;
}
.offices .row div
{
	
	/*min-height: 20em;*/
    vertical-align: middle;
    text-align: center;
	background-size:cover;
	background-position:center;
	transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	  -webkit-transition: all 1s ease;
	  -o-transition: all 1s ease;
}
.offices .row div a
{
	display:block;
	/*min-height: 20em;*/
    width:100%;
	padding:25% 0;
}
.offices .row div a:hover
{
	text-decoration:none;
	
}
/*.offices .row div:hover
{
	 background-size:110%;
	background-position:center;
}*/
.offices .btn 
{
	color: #ffffff;
	font-size:1em;
	padding:1em 0;
	background: rgba(0, 0, 0, 0.4);
	text-transform:uppercase;
	border: #ffffff 2px solid;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
	font-weight: 600;	
	transition: all 0.4s ease;
	text-decoration:none;
}
.offices a:hover .btn
{	background: rgba(0, 0, 0, 0.8);
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); 
	
}
.office_info h3
{
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom:.5rem;
}


.corp_surety
{
	background-image:url(../images/cities/20270313-City-skline-at-dusk-Altanta-Georgia-USA--Stock-Photo-atlanta-skyline-cityscape.jpg) !important;
}
.corp_claims
{
	background-image:url(../images/cities/25863899-atlanta-georgia-downtown-aerial-view.jpg) !important;
}


.ara_ga
{
	background-image:url(../images/cities/canstockphoto14682269_comp.jpg) !important;
}
.akr_oh
{
	background-image:url(../images/cities/akron.jpg) !important;
}
.atl_ga, .corp_hq
{
	background-image:url(../images/cities/atlanta.jpg) !important;
}
.aub_al
{
	background-image:url(../images/cities/auburn.jpg) !important;
}
.bir_al
{
	background-image:url(../images/cities/birmingham.jpg) !important;
}
.bre_ny
{
	background-image:url(../images/cities/brewster.jpg) !important;
}
.cha_nc
{
	background-image:url(../images/cities/charlotte.jpg) !important;
}
.chi_il
{
	background-image:url(../images/cities/chicago.jpg) !important;
}
.cla_nc
{
	background-image:url(../images/cities/clayton.jpg) !important;
}
.cle_oh
{
	background-image:url(../images/cities/cleveland.jpg) !important;
}
.col_sc
{
	background-image:url(../images/cities/columbia.jpg) !important;
}
.col_oh
{
	background-image:url(../images/cities/columbus.jpg) !important;
}
.dal_tx
{
	background-image: url(../images/cities/dallas.jpg) !important;
}
.den_co
{
	background-image:url(../images/cities/denver.jpg) !important;
}
.jac_fl
{
	background-image:url(../images/cities/jacksonville.jpg) !important;
}
.kan_ks
{
	background-image:url(../images/cities/kansascity.jpg) !important;
}
.kno_tn
{
	background-image:url(../images/cities/knoxville.jpg) !important;
}
.los_ca
{
	background-image:url(../images/cities/la.jpg) !important;
}
.lut_fl
{
	background-image:url(../images/cities/tampa.jpg) !important;
}
.nap_ca
{
	background-image:url(../images/cities/napa.jpg) !important;
}
.nas_tn, .bre_tn
{
	background-image:url(../images/cities/nashville.jpg) !important;
}
.new_ny
{
	background-image:url(../images/cities/newyork.jpg) !important;
}
.nor_ga
{
	background-image:url(../images/cities/atlanta.jpg) !important;
}
.oro_az
{
	background-image:url(../images/cities/orovalley.jpg) !important;
}
.por_or
{
	background-image:url(../images/cities/portland.jpg) !important;
}
.san_ca
{
	background-image:url(../images/cities/sanfran.jpg) !important;
}
.sta_ct
{
	background-image:url(../images/cities/stamford.jpg) !important;
}
.tam_fl
{
	background-image:url(../images/cities/tampa.jpg) !important;
}
.uni_ct
{
	background-image:url(../images/cities/hartford.jpg) !important;
}



.ara_ga.lg
{
	background-image:url(../images/cities/large/canstockphoto14682269_comp.jpg) !important;
}
.akr_oh.lg
{
	background-image:url(../images/cities/large/akron.jpg) !important;
}
.atl_ga.lg, .corp_hq.lg
{
	background-image:url(../images/cities/large/atlanta.jpg) !important;
}
.aub_al.lg
{
	background-image:url(../images/cities/large/auburn.jpg) !important;
}
.bir_al.lg
{
	background-image:url(../images/cities/large/birmingham.jpg) !important;
}
.bre_tn.lg, .nas_tn.lg
{
	background-image:url(../images/cities/large/nashville.jpg) !important;
}
.bre_ny.lg
{
	background-image:url(../images/cities/large/brewster.jpg) !important;
}
.cha_nc.lg
{
	background-image:url(../images/cities/large/charlotte.jpg) !important;
}
.chi_il
{
	background-image:url(../images/cities/large/chicago.jpg) !important;
}
.cla_nc.lg
{
	background-image:url(../images/cities/large/clayton.jpg) !important;
}
.cle_oh.lg
{
	background-image:url(../images/cities/large/cleveland.jpg) !important;
}
.col_sc.lg
{
	background-image:url(../images/cities/large/columbia.jpg) !important;
}
.col_oh.lg
{
	background-image:url(../images/cities/large/columbus.jpg) !important;
}
.dal_tx.lg
{
	background-image: url(../images/cities/large/dallas.jpg) !important;
}
.den_co.lg
{
	background-image:url(../images/cities/large/denver.jpg) !important;
}
.jac_fl.lg
{
	background-image:url(../images/cities/large/jacksonville.jpg) !important;
}
.kan_ks.lg
{
	background-image:url(../images/cities/large/kansascity.jpg) !important;
}
.kno_tn.lg
{
	background-image:url(../images/cities/large/knoxville.jpg) !important;
}
.los_ca.lg
{
	background-image:url(../images/cities/large/la.jpg) !important;
}
.lut_fl.lg
{
	background-image:url(../images/cities/large/tampa.jpg) !important;
}
.nap_ca.lg
{
	background-image:url(../images/cities/large/napa.jpg) !important;
}
.new_ny.lg
{
	background-image:url(../images/cities/large/newyork.jpg) !important;
}
.nor_ga.lg
{
	background-image:url(../images/cities/large/atlanta.jpg) !important;
}
.oro_az.lg
{
	background-image:url(../images/cities/large/orovalley.jpg) !important;
}
.por_or.lg
{
	background-image:url(../images/cities/large/portland.jpg) !important;
}
.san_ca.lg
{
	background-image:url(../images/cities/large/sanfran.jpg) !important;
}
.sta_ct.lg
{
	background-image:url(../images/cities/large/stamford.jpg) !important;
}
.tam_fl.lg
{
	background-image:url(../images/cities/large/tampa.jpg) !important;
}
.uni_ct.lg
{
	background-image:url(../images/cities/large/hartford.jpg) !important;
} 

/* END  OFFICE LOCATIONS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.c-tabs-nav__link 
	{
		font-size:.9em;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	h4 { font-size: 2.7rem; }
  	h5 { font-size: 1.8rem; }
	.section.home
	{
		max-height:730px;
	}
	.section.home .container
	{
		margin-top:300px;
	}
	.section.about
	{
		max-height:430px;
	}
	.section.about .container
	{
		margin-top:80px;
	}
	.section.success
	{
		max-height:430px;
	}
	.section.success .container
	{
		margin-top:100px;
	}
	.card__back .card__text 
	{
		font-size: 1.8rem;
    	line-height: 2.6rem;
		/*font-size:1.5rem;
		line-height: 2.2rem;*/
	}
	.c-tabs-nav__link 
	{
		font-size: 1.2em;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	/*-------- Navbar  START --------*/
	
	header
	{
	  background-color:transparent;
	  border-bottom: none;
	}
	header.sticky, header.perma_sticky {
	  background-color:#ffffff;
	  border-bottom: 1px solid #a1a1a1;
	}
	
	.navbar-list.menu 
	{
		display:block;
		text-align:right;
	}
	.navbar-item 
	{
		width:auto;
		float:none;
		display:inline-block;
		margin:3rem 2rem 0 0;
	}
	.navbar-link 
	{
		font-size: 1.4rem;
		line-height: 3.5rem;
		padding: 0;
	}
	.navbar-link:hover
	{
		background-color:transparent;
	}
	#showmenu
	{
		display:none;
	}
	/*-------- Navbar  END --------*/
	.section.home .container
	{
		background-color:transparent;
		margin-top:350px;
	}
	.section.home
	{
		max-height:730px;
	}
	.section.about .container
	{
		background-color:transparent;
		margin-top:80px;
	}
	.section.about
	{
		max-height:430px;
	}
	.section.home h1, .section.about h1, .section.success h1
	{
		font-size:2.5em;
	}
	.section.success .container
	{
		background-color:transparent;
		margin-top:100px;
	}
	.section.success
	{
		max-height:430px;
	}
	
	.c-tabs-nav__link i 
	{
		margin-bottom: 12px;
		font-size: 1.5em;
	}
	.c-tabs-nav__link span 
	{
		display: block;
	}
	}
	.c-tab {
		display: none;
		opacity: 0;
	   transition: opacity .5s ease-in-out;
	   -moz-transition: opacity .5s ease-in-out;
	   -webkit-transition: opacity .5s ease-in-out;
	}
	.c-tab.is-active 
	{
		display: block;
		opacity:1;
	}
	.c-tab__content 
	{
		padding: 1.5rem;
	}
	.c-tabs.no-js .c-tabs-nav 
	{
		display: none;
	}
	.c-tabs.no-js .c-tab 
	{
		display: block;
		margin-bottom: 1.5rem;
	}
	.c-tabs.no-js .c-tab:last-child 
	{
		margin-bottom: 0;
	}
	.card__back .card__text 
	{
		font-size: 1.8rem;
    	line-height: 2.2rem;
		
	}

	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 922px) {
	
	/*-------- Navbar  START --------*/
	.container
	{
		max-width:1200px;
	}
	
	.navbar-list.menu 
	{
		display:block;
	}
	.navbar-item 
	{
		margin:3rem 4rem 0 0;
	}
	.section.home
	{
		background-position:bottom;
		padding-bottom:18rem;
		max-height:750px;
	}
	.section.about
	{
		background-position:center;
		padding-bottom:18rem;
		max-height:450px;
	}
	.section.home .container
	{
		margin-top:400px;
	}
	.section.about .container
	{
		margin-top:90px;
	}
	.icons .container
	{
		width:80%;
	}
	.c-tabs-nav__link 
	{
		font-size: 1.2em;
	}
	
}

@media only screen and (min-width : 922px) {
	.card__back .card__text 
	{
		font-size: 1.3rem;
    	line-height: 1.8rem;
	}
	.locations .card__back .card__text 
	{
		font-size: 1.8rem;
    	line-height: 2.2rem;
	}
	.c-tabs-nav__link 
	{
		font-size: 1.2em;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container
	{
		max-width:1600px;
	}
	.section.home
	{
		background-position:top;
		padding-bottom:18rem;
		max-height:850px;
	}
	.section.about
	{
		background-position:center;
		padding-bottom:18rem;
		max-height:450px;
	}
	.section.home .container
	{
		/*margin-top:425px;*/
		margin-top:25%;
	}
	.section.about .container
	{
		margin-top:90px;
	}
	.section.home h1, .section.about h1
	{
		font-size:3em;
	}
	.section.home p, .section.about p
	{
		font-size:1.3em;
	}
	.navbar-item 
	{
		margin:3.4% 4rem 0 0;
	}
	.icons .container{
		width:100%;
	}
	.card__back .card__text 
	{
		/*font-size:1.3rem;
		line-height: 1.8rem;*/
		font-size: 1.8rem;
    	line-height: 2.2rem;
		padding-top:0;
	}
	.c-tabs-nav__link 
	{
		font-size: 1.2em;
	}

}
/* EX-Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
	.section.home
	{
		background-position:top;
		padding-bottom:18rem;
		max-height:880px;
	}
	.section.home .container
	{
		margin-top:470px;
	}
	.section.about
	{
		background-position:center;
		padding-bottom:18rem;
		max-height:500px;
	}
	.section.about .container
	{
		margin-top:100px;
	}
	.icons .container {
		width: 80%;
	}
	.card__back .card__text 
	{
		    padding-top: 4%;
		/*font-size: 1.8rem;
    	line-height: 2.6rem;
		font-size:1.5rem;
		line-height: 2.2rem;*/
	}
	
}


/* EX-Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {
	.section.home
	{
		background-position:top;
		padding-bottom:18rem;
		max-height:930px;
	}
	.section.home .container
	{
		margin-top:580px;
	}
	.section.about
	{
		background-position:center;
		padding-bottom:18rem;
		max-height:530px;
	}
	.section.about .container
	{
		margin-top:100px;
	}
	.icons .container {
		width: 70%;
	}
	.card__back .card__text 
	{
		font-size:1.7rem;
		padding-top: 2%;
		line-height: 2.3rem;
	}
}

.section.locations .row
{
	background-color:#666;
}

.section.locations
{
	padding:0;	
}
.locations .card__front img {
    width: 90%;
    margin-top: 30%;
}
.locations .card__back {
	background-color:#ffffff;
}
.locations .card__back .card__text{
    text-align:left;
}
.red
{
	background-color:#c21b09;
}
.dk_red
{
	background-color:#7b0f1c;
}
.br_red
{
	background-color:#ed1c24;
}
.dk_blue
{
	background-color:#183764;
}
.lt_blue
{
	background-color:#00aead;
}
.md_blue
{
	background-color:#175ca5;
}
.br_blue
{
	background-color:#1c4583;
}
.off_white
{
	background-color:#e7caab;
}
.dk_grey
{
	background-color:#222;
}
.lt_grey
{
	background-color:#4c4c4c;
}
.orange
{
	background-color:#ef4522;
}
.dk_green
{
	background-color:#004819;	
}
.br_green
{
	background-color:#08602f;
}
.gold
{
	background-color:#b87e35;
}
.purple
{
	background-color:#732771;
}
.grey_outline{
	border: solid #A0A0A0 1px;	
	
}
/*.locations .card__back, .locations .card__front
{
	border:none;
}*/
.locations .col-lg-3, .locations .col-md-3, .locations .col-sm-6, .locations .col-xs-8
{
	padding-left:0;
	padding-right:0;	
}
.locations .card__front, .locations .card__back {
    width: 100%;
    height: 100%;