/*<style>*/
@charset "utf-8";
/* CSS Document */

body.allstar_fg
{
	font-family: 'Hind', sans-serif;
	margin: 0;
	padding:0;
	font-size: 18px;
	
}
.allstar_fg .section .row p, .allstar_fg .section.hero p, .allstar_fg section p {
    margin-bottom: 2.5rem !important;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
  	margin-top: 0;
  	margin-bottom: 2rem;
  	font-weight: 700; }
h4 { font-size: 2.7rem; line-height: 1.35; letter-spacing: -.08rem; color:#bf2337; text-transform:uppercase; font-weight:900; border-bottom: #b8d1db 1px solid; }
h5 { font-size: 1.9rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: .7rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: .5rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  	h4 { font-size: 2.7rem; }
  	h5 { font-size: 1.8rem; }

}





/* Sticky Header Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header
{
  	width: 100%;
  	height: 6.6rem;
	z-index:100;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
header img
{
	margin: 1.4rem 0 0 1rem;	
	height: 4rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
header nav
{
	width: 60%;
	float: right;
	text-align:right;
	padding-right: .8rem;
	margin: 4rem 0 0 0;
	font-size: 1rem;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
header nav a
{
	font-family: 'PT Sans', sans-serif;
	font-size: 1rem;
	margin-right:1.6rem;
	color: #003e63;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
nav ul
{
	margin:0;
	padding: 0;
}
nav li
{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #000000;
	display: inline-block;	
	padding: 0;
}
header nav a:hover
{
	color: #a9855d;
}
a.nav-active {
    color:#c69c6d;
	text-decoration:underline;
	
}

header nav a:active {
    color: #a9855d;
	
}
header.sticky 
{
  	font-size: 24px;
  	line-height: 48px;
  	height: 48px;
  	background: #ffffff;
  	text-align: left;
  	padding-left: 20px;
	border-bottom: 1px solid grey;
}
header.sticky img
{
	height: 40px;
	margin: 5px 0 0 5px;	
}
header.sticky nav
{
	width: 50%;	
	font-size: 16px;
	padding-right: 10px;
	margin: 0 20px 0 0;
}
header.sticky nav a
{
	font-size: 16px;	
}


/* Hero Story
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.hero
{
	
	min-height:300px;
}

/* Hero Story - HOME/Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section.hero
{
	margin-top: -6.6rem;
	padding-top: 6.6rem;
    background-size:cover;
    background-color: #d6ddef;
	background-image:url(home_hero_bg.jpg);
}


/*</style>*/